<p>card-detail works!</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci
  repudiandae aliquam deserunt earum. At temporibus fugiat inventore ea neque
  perferendis odio doloremque deleniti, dignissimos eius minus accusantium dolor
  sit. Provident laboriosam deleniti doloremque molestias, vel ad recusandae
  magnam vitae ipsam nesciunt sunt, delectus dolorem animi, cumque porro
  corporis? Animi beatae eveniet nostrum sit iure quia modi iste maiores non.
  Illum fugit corporis iusto aperiam laboriosam hic, nemo ut provident
  dignissimos perspiciatis voluptatibus, enim alias quasi cum ipsum ex eaque
  atque accusamus reiciendis quae, incidunt nisi! Quasi facere quam unde. Neque
  odit minus porro enim quam! Amet commodi nostrum ratione sequi hic est!
  Assumenda odit, asperiores eum quisquam nulla quod voluptas sunt perspiciatis!
  Reprehenderit, veniam rem suscipit nam ex cum. Voluptatum quo omnis iste
  reiciendis in id quae cumque veritatis dolor quam non consequatur similique
  nulla facilis placeat vero doloribus minus, eos ducimus error voluptates velit
  odio molestias quisquam. Ducimus. Dolorum impedit neque id odit vitae sapiente
  minus magnam, soluta dolor reprehenderit sit sequi, voluptates officiis atque
  debitis distinctio doloremque tempora sint in quod repudiandae quisquam
  accusamus aliquid. Distinctio, nostrum!
</p>
